---
import Layout from "../layouts/Layout.astro";
import {BrandLinks} from '../components/Header'
import { ChevronDown } from "lucide-react";
---

<Layout title="Hi, i'm Samuel">
	<div>
		<section class="flex flex-col-reverse md:flex-row md:items-center justify-between">
			<article class="flex flex-col gap-1 md:gap-2 md:pb-6">
				<p class="font-medium text-xl md:text-4xl">Hi, i'm</p>

				<h1 class="font-bold text-5xl md:text-9xl bg-gradient-to-r from-blue to-orange bg-clip-text text-transparent">Samuel Ortiz</h1>

				<p class="md:text-xl">Frontend Developer and UI Designer</p>
				<div class="flex flex-col md:flex-row gap-2 md:gap-6 md:items-center mt-4 md:mt-9">
					<h3 class="font-medium text-lg md:text-2xl">Check Out My</h3>
					<span class="flex gap-2">
						<BrandLinks/>
					</span>
				</div>
			</article>
			<picture class="max-w-4xl">
				<img src="/heroImage.webp" alt="">
			</picture>
		</section>
		<section class="flex items-center py-14 md:py-0 justify-center">
			<span class="rounded-full bg-orange/30 animate-bounce p-2">
				<ChevronDown color="white" size={36}/>
			</span>
		</section>
	</div>
</Layout>

<style>

	#hero-text::before {
		content: 'Samuel Ortiz';
		animation: text-animation 3s infinite;
	}

	@keyframes text-animation {
		0% {
			content: 'Samu Design';
		}

		50% {
			content: 'Samuel Ortiz';
		}

		100% {
			content: 'Samu Design';
		}
	}

</style>
