---
import CvButton from "./CvButton.astro";
import MarkDowns from "./MarkDowns.astro";
---

<div class="flex flex-col md:flex-row items-center gap-6 md:gap-28 justify-between">
    <picture>
        <img
            class="md:[max-width:400px] md:px-0 px-6 [mask-image:_linear-gradient(black_70%,_transparent)]"
            src="/knowSamuel.webp"
            alt=""
        />
    </picture>
    <article class="flex flex-col gap-8">
        <span>
            <h3 class="font-bold md:text-4xl text-2xl">Samuel Ortiz</h3>
            <p class="text-purple">Interactive Media Designer</p>
        </span>
        <MarkDowns />
        <p>
            Hello! I'm Samuel, and I'm deeply passionate about the world of web
            development, design, digital art, and animation. Since I was young,
            I've been fascinated by the power of technology to create visually
            stunning and functional experiences. This fascination drove me to
            dive into the exciting realm of web development, where I merge my
            creativity with technical skills to build websites that captivate
            and surprise users.
        </p>
        <CvButton />
    </article>
</div>
