<h5 class="font-bold text-xl md:text-2xl">Wanna Talk?</h5>
<p>Submit your email to get in touch</p>
<form class="flex flex-wrap gap-2 items-center">
    <input
        class="px-2 py-1 bg-card rounded-md border border-transparent outline-none focus:border-blue"
        required
        placeholder="example@example.com"
        type="email"
    />
    <button
        type="submit"
        class="px-2 py-1 bg-blue rounded-md transition-all ease-in-out duration-200 hover:shadow-lg hover:shadow-blue/90"
        >Submit</button
    >
</form>
