---
import {Location, Education, Mail, TikTok} from "./MarkdownIcons"
---

<ul class="flex flex-wrap gap-4">
    <li class="rounded-md flex gap-2 items-center bg-card px-2 py-1">
        <Location/>
        Cali, Colombia
    </li>
    <li class="rounded-md flex gap-2 items-center bg-card px-2 py-1">
        <Education/>
        Icesi University
    </li>
    <li class="rounded-md flex gap-2 items-center bg-card px-2 py-1">
        <Mail/>
        ortizsamuel2004@hotmail.com
    </li>
    <li class="rounded-md flex gap-2 items-center bg-card px-2 py-1">
        <TikTok/>
        @samuelortizdrawings
    </li>
</ul>