---
interface Props {
	title: string;
}

const { title } = Astro.props;

import Footer from "../components/Footer.astro";
import { Header } from "../components/Header";
import "@fontsource-variable/onest";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Welcome to my portfolio" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="text-sm md:text-base text-light">
		<Header client:load />
		<main
			class="px-6 md:px-48 pt-16 md:pt-32 pb-5 md:pb-10 text-sm md:text-base"
		>
			<slot />
		</main>
		<Footer/>
	</body>
</html>
<style is:global>
	html {
		font-family: "Onest Variable", system-ui, sans-serif;
		background: #070707;
		background-size: 224px;
		scroll-behavior: smooth;
	}

	#header-nav {
		background: rgba(7, 7, 7, 0.5);
		backdrop-filter: blur(10px);
	}
</style>
